/* Existing c-r-a CSS */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* My additional styling - needs to be properly responsive */
.subheading {
  margin-top: 3em;
}

.survey-body {
  max-width: 960px;
  margin: 0 auto;
}

/* List formatting */
ol.scale-list {
  margin: 0;
  padding: 0;
  counter-reset: list-c;
}

ol.scale-list>li {
  display: inline-block;
  counter-increment: list-c;
  padding: 0 25px;
  position: relative;
}

ol.scale-list>li:before {
  content: counter(list-c) '.';
  display: inline-block;
  text-align: center;
  position: absolute;
  left: -2px;
}

/* Radio buttons and group - unnecessary when using a style object */

/*

.radio-button-group {
  display: flex;
}

.radio-button {
  width: auto;
}

*/
